@import "tailwindcss";

@theme {
  --color-custom-green: #93A079;
  --color-custom-blue: #84B8D9; 
  --color-custom-light-blue: #C9E7F2;
  --color-custom-beige: #F1EDE4;
  --color-custom-gray: #DDD9D0;
}