@import "tailwindcss";

@theme {
  --color-custom-green: #93A079;
  --color-custom-blue: #84B8D9; 
  --color-custom-light-blue: #C9E7F2;
  --color-custom-dark-blue: #408CBC;
  --color-custom-beige: #EEEAE0;
  --color-custom-gray: #CACACA;
  --color-custom-light-gray: #DDDDDD;
  --color-custom-dark-gray: #6C6C6C;
}